
<div th:fragment="list_items(products)">
    <div class="container">
        <div class="row">
            <div th:each="prod : ${products}" class="col-sm-4">
                <a th:href="'store/product/' + ${prod.getId()}">
                    <div class="best_shoes">
                        <p class="item_name" th:text="${prod.getName()}"></p>
                        <div class="item_icon"><img th:src="${prod.getImageRelativePath()}" th:alt="${prod.getName()}"/></div>
                        <div class="price"><span style="color: #ff4e5b;" th:text="${prod.getPrice()}"></span> CHF</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>