<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/components :: head('Cart')"></head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div th:replace="fragments/components :: menu"></div>
<div class="collection_text">Cart</div>

<div class="layout_padding gallery_section">
    <div class="cart-items">
        <a href="/cart/empty">Empty Cart</a>
        <div class="row">
            <form action="#" th:action="@{/cart}" th:object="${cart}" method="post">
                <fieldset>
                    <table>
                        <thead>
                        <tr>
                            <th> Item</th>
                            <th> Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="selection, itemStat : *{getSelections()}">
                            <td><p th:text="${selection.getProduct().getName()}"></p></td>
                            <td><input th:field="*{selections[__${itemStat.index}__].quantity}" /></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit" id="submitButton" th:value="Save">
                </fieldset>
            </form>
        </div>
    </div>

</div>

<!-- New Arrivals section end -->
<!-- section footer start -->
<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: copyright"></div>
<div th:replace="fragments/components :: scripts"></div>
</body>
</html>
