<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/components :: head('Cart')"></head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div th:replace="fragments/components :: menu"></div>
<div class="collection_text">Cart</div>

<div class="layout_padding gallery_section">
    <div class="cart-items">
        <button class="empty-cart btn"><a href="/cart/empty">Empty Cart</a></button>
        <div>
            <form action="#" th:action="@{/cart}" th:object="${cart}" method="post">
                <fieldset>
                    <table style="width: 100%;margin: 30px 0px;color:black;">
                        <thead>
                        <tr>

                        </tr>
                        </thead>
                        <tbody class="cart-product-table">
                        <tr th:each="selection, itemStat : *{getSelections()}">
                            <td>
                                <img class="cart-product-image" th:src="${selection.getProduct().getImageRelativePath()}" th:alt="${selection.getProduct().getName()}"/>
                            </td>
                            <td th:text="${selection.getProduct().getName()}"></td>
                            <td><input type="number" th:field="*{selections[__${itemStat.index}__].quantity}" /></td>
                            <td><a th:href="'/cart/remove/' + ${selection.getProduct().getId()}">Remove</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit" id="submitButton" class="btn" th:value="Save">
                </fieldset>
            </form>
        </div>
    </div>

</div>

<!-- New Arrivals section end -->
<!-- section footer start -->
<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: copyright"></div>
<div th:replace="fragments/components :: scripts"></div>
</body>
</html>
