<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/components :: head('Store')"></head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div th:replace="fragments/components :: menu"></div>
<!-- New Arrivals section start -->
<div class="collection_text">Login</div>
<!-- New Arrivals section end -->
<!-- section footer start -->
<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: copyright"></div>
<div th:replace="fragments/components :: scripts"></div>
</body>
</html>