<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/components :: head('Product')"></head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div th:replace="fragments/components :: menu"></div>
<div class="container">
    <div class="product_presentation row">

        <div class="col-md">
            <img th:src="${product.getImageRelativePath()}" th:alt="${product.getName()}"/>
        </div>
        <div class="col-md">
            <h1 class="new_text"><strong th:text="${product.getName()}"></strong><hr/></h1>

            <div class="sale_text"><span style="color: #0a0506;" th:txt="${product.getName()}"></span></div>
            <div class="number_text"><strong>CHF <span style="color: #0a0506" th:text="${product.getPrice()}"></span></strong></div>
            <form method="POST" action="/cart/add"  class="consectetur_text">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="productId" name="productId" th:value="${product.getId()}">
                    <label>Quantité</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" value="1">
                </div>
                <button type="submit" class="buy_text">Add to cart</button>
            </form>
        </div>
        <div class="presentation_text" th:text="${product.getDescription()}"></div><br/>
        <div class="presentation_text" th:text="' (' + ${product.getCategoryName()} + ')'"></div>
    </div>
</div>

<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: copyright"></div>
<div th:replace="fragments/components :: scripts"></div>
</body>
</html>
