<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/components :: head('Store')"></head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div th:replace="fragments/components :: menu"></div>
<!-- content start -->
<div class="collection_text">Products</div>
<div class="collection_section layout_padding">
    <div class="container">
        <h1 class="new_text"><strong>Our products</strong></h1>
        <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    </div>
</div>

<form action="/store" method="get">
    <select name="cat" hidden>
        <option disabled hidden selected>Aucune</option>
        <option th:each="cat : ${categories}"
                th:value="${cat.getId()}"
                th:text="${cat.getName()}"
                th:selected="${cat.getId() == selected}">
        </option>
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<div class="layout_padding gallery_section">
    <div th:if="${products.isEmpty()}">
        <h1>This category doesn't contain any product</h1>
    </div>
    <div th:replace="fragments/gallery :: list_items(${products})"></div>
</div>
<!-- content end -->
<!-- section footer start -->
<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: copyright"></div>
<div th:replace="fragments/components :: scripts"></div>
</body>
</html>
